body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1%;
}

.section-tittle {
  justify-content: center;
}

.flex-between,
.d-flex .flex-center {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.link2 {
  color: #7e0000;
  margin: 4rem;
  text-decoration: none;
}

.rect-heroActive .search form {
  align-items: center;
}
.rect-heroActive .search form input {
  height: 100%;
}
.rect-heroActive .search button {
  padding: 0.5rem 1.8rem;
}
.rect-heroActive .search-field {
  flex: 1;
}

.h1-All {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  font-size: 34px;
  padding-top: 0px;
  margin-top: 0px;
}

.two-cards {
  flex-wrap: wrap;
  gap: 3rem;
  display: flex;
  margin-inline: 30%;
}

.All-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: 13%;
  background-color: #ffffff;
  margin: 2rem;
}

h5 {
  color: #7e0000;
  font-weight: 500;
  font-size: 24px;
}

section {
  margin-bottom: 2em;
}

.landing-page header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.landing-page header nav .mainMenu {
  display: flex;
  gap: 1rem;
}
.landing-page header nav .mainMenu li {
  list-style: none;
}
.landing-page header nav .mainMenu li a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.landing-page header nav .img {
  width: 30px;
  height: 30px;
  margin: 12.58px 0;
}
.landing-page header nav .nav-right {
  display: flex;
  gap: 1rem;
  color: #fafafa;
}
.landing-page header nav .nav-right button {
  background-color: #262626;
  border: none;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .landing-page nav .mainMenu {
    height: 30vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    transition: top 1s ease;
    display: none;
    font-size: bold;
  }
  .landing-page nav img {
    width: 30px;
    height: 30px;
  }
  .landing-page nav .nav-right i {
    display: hidden;
  }
}

.Hero-section {
  color: white;
}
.Hero-section .container-1 {
  background: url(../assets/about-us/hero.png) no-repeat;
  display: grid;
  align-items: flex-end;
  min-height: 80vh;
  background-size: 100%;
}
.Hero-section .container-1 .icons {
  margin-left: 70px;
  gap: 30px;
  color: #ffffff;
}
.Hero-section .rectangle-container1 {
  padding: 2em;
  background: #262626;
  width: 70%;
  color: white;
}
.Hero-section .rectangle-container1 .rect-heroActive .search form {
  align-items: center;
}
.Hero-section .rectangle-container1 .rect-heroActive .search form input {
  height: 100%;
}
.Hero-section .rectangle-container1 .rect-heroActive .search button {
  padding: 0.5rem 1.8rem;
}
.Hero-section .rectangle-container1 .rect-heroActive .search-field {
  flex: 1;
}

.container-2 {
  background: url(/assets/about-us/samuele-errico-piccarini-FMbWFDiVRPs-unsplash\ 2.png) no-repeat center;
  background-size: cover;
}
.container-2-left {
  padding: 2em 5em;
  background: white;
}
.container-2-left .fa-circle-play {
  color: #7e0000;
  margin: 4rem;
}
@media screen and (min-width: 992px) {
  .container-2-left {
    width: 50%;
  }
}

.key-features .All-card {
  display: grid;
}
.key-features .All-card .card {
  padding: 2em;
  box-shadow: 3px 0px 50px #e5e5e5;
  transition: 3s all ease-in-out;
}
@media screen and (min-width: 992px) {
  .key-features .All-card {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .key-features .All-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .key-features .All-card {
    grid-template-columns: repeat(1, 1fr);
  }
}

.our-services .section-title-container {
  width: 399px;
  height: 75px;
}
.our-services .container4-right .card {
  padding: 2em;
  margin-bottom: 1.5em;
}
@media screen and (min-width: 992px) {
  .our-services {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  .our-services .container4-right {
    padding: 2em;
    flex: 1;
  }
  .our-services .container4-right-cards {
    display: flex;
    gap: 1.5em;
  }
}

.why-choose-us .card-sec4-All {
  display: grid;
  gap: 1em;
}
.why-choose-us .card-sec4-All .card-5 {
  padding: 1em;
  padding-top: 2.5em;
  border: 2px solid #fafafa;
}
.why-choose-us .card-sec4-All .card-5 .p2 {
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .why-choose-us .card-sec4-All {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .why-choose-us .card-sec4-All {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .why-choose-us .card-sec4-All {
    grid-template-columns: repeat(1, 1fr);
  }
}

.reviews {
  padding-bottom: 3em;
  background: linear-gradient(to bottom, rgba(58, 22, 22, 0.4), rgba(255, 0, 0, 0.6)), url(/assets/review/testimonials-bg.png) no-repeat center;
  min-height: 80vh;
  background-size: 100%;
}
@media screen and (min-width: 992px) {
  .reviews .two-cards {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .reviews .two-cards .card {
    padding: 0.6em;
    background: transparent;
    color: white;
    border: 1.5px solid white;
    width: auto;
    position: relative;
  }
  .reviews .two-cards .card .testifier-info {
    position: absolute;
    bottom: -33%;
    left: 32%;
  }
}

.blog .two-cards {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .blog .two-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .blog .two-cards .link2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .blog .two-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog .two-cards .link2 {
    margin: 0px;
    padding: 0px;
  }
}
@media screen and (max-width: 767px) and (max-width: 992) {
  .blog .two-cards .link2 {
    margin: 0px;
    padding: 0px;
  }
}

.near-by .container-9 {
  background-image: url(../assets/near-by/section9-bg.png);
  min-height: 100vh;
  background-size: 100%;
  filter: blur(38%);
  background-size: cover;
}
.near-by .container-9 .content-9 {
  background: linear-gradient(to bottom, rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0.9));
  width: 100%;
  min-height: 80%;
}
.near-by .container-9 .content-9 .inner-cards {
  width: 100%;
  min-height: 100%;
}
.near-by .container-9 .content-9 .inner-cards .two-cards {
  width: 100%;
  min-height: 80%;
  align-items: center;
  padding: 0px;
}
@media screen and (min-width: 992px) {
  .near-by .container-9 .content-9 .inner-cards .two-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.near-by .container-9 .content-9 .inner-cards .two-cards .h1-All {
  width: 920px;
  height: 94px;
  color: #262626;
}

.container-10 {
  fill: rgba(229, 229, 229, 0.74);
  height: 100vh;
}
@media screen and (min-width: 922px) {
  .container-10 .form10-wrap {
    display: flex;
    padding-top: 100px;
    gap: 10px;
    justify-content: center;
  }
  .container-10 .form10-wrap .form-left {
    border: none;
    margin-bottom: 0px;
  }
  .container-10 .form10-wrap .form-left .h1-All {
    color: #262626;
    text-align: left;
    color: #262626;
  }
  .container-10 .form10-wrap .form-left input {
    color: #262626;
    width: 320px;
    margin-bottom: 5px;
    padding: 5px;
    margin-left: 6%;
  }
  .container-10 .form10-wrap .form {
    background-color: #fafafa;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 500px;
  }
  .container-10 .form10-wrap .form .h1-All {
    color: #262626;
    text-align: left;
  }
  .container-10 .form10-wrap .form #phone {
    background-image: url(../assets/contact/india-flag.png);
    background-repeat: no-repeat;
    align-items: baseline;
    padding-left: 30px;
    background-size: 40px;
  }
  .container-10 .form10-wrap .form textarea {
    border-radius: 5px;
    margin-left: 6%;
  }
  .container-10 .form10-wrap .form input {
    width: 320px;
    margin-bottom: 6px;
    padding: 5px;
    margin-left: 6%;
  }
}
.container-10 .frame {
  position: absolute;
  margin-top: -90px;
}

.footer .subscribe {
  width: 454px;
  height: 50px;
}
.footer .form-footer {
  display: flex;
  width: 100%;
  height: 1200px;
}
.footer .footer-links {
  display: flex;
  gap: 1.5rem;
}
.footer .footer-logo {
  width: 30px;
  height: 34px;
}/*# sourceMappingURL=old.css.map */